<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="18fbf35e-2e9c-4394-a212-2a8c42ecdf3b"
    Publisher="CN=dasha"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="18fbf35e-2e9c-4394-a212-2a8c42ecdf3b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ВД50-1-18_ОАиП_ШапошниковаДА_ИР</DisplayName>
    <PublisherDisplayName>dasha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ВД50_1_18_ОАиП_ШапошниковаДА_ИР.App">
      <uap:VisualElements
        DisplayName="ВД50-1-18_ОАиП_ШапошниковаДА_ИР"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ВД50-1-18_ОАиП_ШапошниковаДА_ИР"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>